<style>
    .form{
        max-width: 700px;
        margin: 2rem auto !important;
        border: 1px solid black;
        border-radius: .5rem;
        padding: 1rem;
    }
    .box{
        margin-bottom: 1rem;
    }
    .box input, .box textarea{
        display: block;
        width: 100%;
        border: 1px solid black;
        border-radius: .5rem;
        padding: .5rem;
        outline: none;
    }
    .box textarea{
        resize: none;
    }
</style>
<hr>
<h3 style="text-align:center;">Application Form</h3>
<form class="form" action="/job/{{job.id}}/apply" method="post">
    <div class="box">
        <label for="">Full Name</label>
        <input type="text" required name="full_name" placeholder="your full name">
    </div>
    <div class="box">
        <label for="">Email</label>
        <input type="email" required name="email" placeholder="your email">
    </div>
    <div class="box">
        <label for="">Linkedin URL</label>
        <input type="url" name="linkedin_url" placeholder="your linkedin link">
    </div>
    <div class="box">
        <label for="">Education</label>
        <textarea name="education" placeholder="education details goes here..."></textarea>
    </div>
    <div class="box">
        <label for="">Work Experience</label>
        <textarea name="work_experience" placeholder="work experience details goes here..."></textarea>
    </div>
    <div class="box">
        <label for="">Resume URL</label>
        <input type="url" name="resume_url" placeholder="your resume link">
    </div>
    <div class="box" style="text-align:center; margin-bottom:0;">
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</form>